.App1 {
  text-align: center;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  /* background-color: red; */
  background: linear-gradient(
    357deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(80, 9, 121, 1) 0%,
    rgba(0, 255, 192, 1) 85%
  );
  /*this your primary color*/
  background-color: rgb(2, 0, 36);
  font-size: 30;
}
.App {
  text-align: center;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Table {
  margin-left: auto;
  margin-right: auto;
  border: "solid 1px blue";
}

.Button1 {
  font-size: 60;
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-red {
  background-color: red;
}
